# Sensitive Django API and MySQL database credentials. secrets.yaml should be inside the k8s/ folder
apiVersion: v1
kind: Secret
metadata:
  name: api-secrets
type: Opaque
# Values in the data field should be Base64 encoded. But with a stringData field, you can put the values in plain text; K8s will automatically encode them for you when you apply the file.
stringData:
  SECRET_KEY: "PLACEHOLDER_FOR_DJANGO_KEY"
  DB_PASSWORD: "PLACEHOLDER_FOR_DB_PASSWORD"
  MYSQL_ROOT_PASSWORD: "PLACEHOLDER_FOR_ROOT_PASSWORD"  # Only used by the MySQL image to set up the environment on first run